.first_steps
  %h2 Your first steps in Teambox
  .steps
    = image_tag 'badges/1-disabled.jpg', :'data-step' => 1, :'data-name' => 'first_project'
    = image_tag 'badges/5-disabled.jpg', :'data-step' => 5, :'data-name' => 'first_invite'
    = image_tag 'badges/2-disabled.jpg', :'data-step' => 2, :'data-name' => 'first_conversation'
    = image_tag 'badges/3-disabled.jpg', :'data-step' => 3, :'data-name' => 'first_task'
    = image_tag 'badges/4-disabled.jpg', :'data-step' => 4, :'data-name' => 'first_page'
  .step.step1{ :style => 'display: none' }
    %h3 Create your first project
    %p You're our newest user!
    %p Take some time to look around and then create your first project
  .step.step2{ :style => 'display: none' }
    %h3 Post your first conversation
    %p It's time to communicate with your team.
    %p
      In Teambox you can post a comment on any project,
      where your colleagues can quickly answer.
  .step.step3{ :style => 'display: none' }
    %h3 Create your first task
    %p
      You can create tasks for yourself or others in your team.
      Use tasks to replace emails with a tidy and transparent organization.
  .step.step4{ :style => 'display: none' }
    %h3 Create your first page
    %p Each project has a space to document and share...
  .step.step5{ :style => 'display: none' }
    %h3 Invite your team to your projects
    %p It's time to invite your whole team to your projects.
    %p You can create projects for each workgroup: Sales, Development, client projects, etc.
